<link rel="stylesheet" href="/css/mail.css">
<div class="mail-container">
    {{>sidebar}}
    <div class="mail-content">
        <h2>Inbox</h2>
        <div class="select-all-container">
            <input type="checkbox" id="selectAll" class="select-all-checkbox" style="transform: scale(1.5); margin-right: 10px;"> 
            <label for="selectAll">Select All</label>
            <button id="deleteBtn" class="delete-button">Delete Selected</button>
        </div>
        <ul class="email-list">
            {{#each emails}}
            <li class="email-item">
                <input type="checkbox" class="email-checkbox" data-email-id="{{this.id}}">
                <a href="/email/{{this.id}}">
                    <h3>{{this.sender}} - {{this.subject}}</h3>
                    <p><small>Received on: {{formatDate this.created_at}}</small></p>
                </a>
            </li>
            {{/each}}
        </ul>
        <div class="pagination">
            {{#if prevPage}}
            <a href="/inbox?page={{prevPage}}">Previous</a>
            {{/if}}

            {{#each pages}}
            <a href="/inbox?page={{this}}" class="{{#if (eq this ../page)}}active{{/if}}">{{this}}</a>
            {{/each}}

            {{#if nextPage}}
            <a href="/inbox?page={{nextPage}}">Next</a>
            {{/if}}
        </div>
    </div>
</div>

<script src="/js/deleteMail.js"></script>
<script>
    deleteMail('/delete-emails');
</script>